* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.efi binary
*.elf binary
*.bin binary
*.img binary
*.iso binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.woff binary
*.woff2 binary
*.zip binary

